//grid gap
$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;

//mixins definition
@mixin grid {
  @supports(grid-area: auto) {
    display: grid;
    grid-column-gap: $gap-horizontal;
    grid-row-gap: $gap-vertical;
  }
}

@mixin gridAuto($min-width) {
  @supports(grid-area: auto) {
    grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
  }
}

//here's where we use the grid mixins
.gallery-grid {
  @include grid;
  @include gridAuto(260px);
  grid-auto-rows: minmax(100px, auto);
}

//demo style
.gallery-grid > div {  
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  // float: left;
}