https://www.rtok.me/
| -- portfolio
|    | -- portfolio/css
|    | -- portfolio/js
|    | -- portfolio/scss
|    | -- portfolio/files
|    | -- portfolio/img
|    |    | -- portfolio/files/BootCampNotes
|    |    | -- portfolio/img/about
|    |    | -- portfolio/img/certificates
|    |    | -- portfolio/img/logos
|    |    | -- portfolio/img/portfolio
|    | -- portfolio/vendor
|    |    | -- portfolio/vendor/bootstrap
|    |    |    | -- portfolio/vendor/bootstrap/css
|    |    |    | -- portfolio/vendor/bootstrap/js
|    |    | -- portfolio/vendor/fontawesome-free
|    |    |    | -- portfolio/vendor/fontawesome-free/css
|    |    |    | -- portfolio/vendor/fontawesome-free/js
|    |    |    | -- portfolio/vendor/fontawesome-free/less
|    |    |    | -- portfolio/vendor/fontawesome-free/scss
|    |    |    | -- portfolio/vendor/fontawesome-free/sprites
|    |    |    | -- portfolio/vendor/fontawesome-free/svgs
|    |    |    |    | -- portfolio/vendor/fontawesome-free/svgs/brands
|    |    |    |    | -- portfolio/vendor/fontawesome-free/svgs/regular
|    |    |    |    | -- portfolio/vendor/fontawesome-free/svgs/solid
|    |    |    | -- portfolio/vendor/fontawesome-free/webfonts
|    |    | -- portfolio/vendor/jquery
|    |    | -- portfolio/vendor/jquery-easing
|    | -- .htaccess
|    | -- .cpanel.yml
|    | -- .gitignore
|    | -- index.html
|    | -- gulpfile.js
|    | -- index.haml
|    | -- package.json
|    | -- favicon.ico